Repository clober-dex/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-ts, lint-sol

lint-ts:
  name: lint ts
  entry: /usr/bin/env bash -c "npm run prettier:ts"
  language: script
  description: Checks TS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

feat: update wagmi chain
  package-lock.json
  package.json
Due: none

feat: update hardhat config
  hardhat.config.ts
Due: lint-ts

feat: create `priceBookDeployer` contract due to code size
  contracts/MarketFactory.sol
  contracts/interfaces/CloberMarketFactory.sol
  contracts/interfaces/CloberPriceBookDeployer.sol
  contracts/markets/PriceDeployer.sol
  task/dev-deploy/01_market_factory.ts
  task/prod-deploy/01_market_factory.ts
Due: lint-ts, lint-sol

fix: all test cases
  test/foundry/GasReport/OrderBookUtils.sol
  test/foundry/MarketFactory/Unit.t.sol
  test/foundry/MarketRouter/Unit.t.sol
Due: lint-sol

test: coverage for ACCESS
  test/foundry/MarketFactory/Unit.t.sol
Due: lint-sol

feat: set `factory` to public
  contracts/interfaces/CloberMarketDeployer.sol
  contracts/interfaces/CloberPriceBookDeployer.sol
  contracts/markets/MarketDeployer.sol
  contracts/markets/PriceDeployer.sol
Due: lint-sol

fix: fix setting nonce
  task/dev-deploy/01_market_factory.ts
  task/prod-deploy/01_market_factory.ts
Due: lint-ts

feat: deploy mango market for test
  deployments/1442/address.json
  hardhat.config.ts
  utils/constant.ts
  utils/markets.ts
Due: lint-ts

fix: deploy new mango market
  utils/markets.ts
Due: lint-ts

fix: taker fee for mango market
  utils/markets.ts
Due: lint-ts

chore: remove todo
  contracts/OrderBook.sol
Due: lint-sol

docs: CloberPriceBook
  contracts/interfaces/CloberOrderBook.sol
  contracts/interfaces/CloberPriceBook.sol
Due: lint-sol

feat: create plsARB-ARB market
  utils/constant.ts
  utils/markets.ts
Due: lint-ts

fix: market name
  utils/markets.ts
Due: lint-ts

feat: plsARB-ARB market address
  utils/markets.ts
Due: lint-ts

feat: add extra MANGO/cUSD which is contain makerFee
  utils/markets.ts
Due: lint-ts

chore: change 0xffff to type(uint16).max
  contracts/markets/ArithmeticPriceBook.sol
Due: lint-sol

refactor: factory in deployer public -> private
  contracts/markets/MarketDeployer.sol
  contracts/markets/PriceDeployer.sol
Due: lint-sol

fix: remove `factory` in interfaces
  contracts/interfaces/CloberMarketDeployer.sol
  contracts/interfaces/CloberPriceBookDeployer.sol
Due: lint-sol

feat: add `orderTokenDeployer` contracts
  contracts/MarketFactory.sol
  contracts/interfaces/CloberMarketFactory.sol
  contracts/interfaces/CloberOrderTokenDeployer.sol
  contracts/markets/OrderTokenDeployer.sol
Due: lint-sol

feat: add `orderTokenDeployer` deploy scripts
  task/dev-deploy/01_market_factory.ts
  task/prod-deploy/01_market_factory.ts
Due: lint-ts

fix: deploy function in `OrderTokenDeployer`
  contracts/markets/OrderTokenDeployer.sol
Due: lint-sol

refactor: move `computeTokenAddress` to `OrderTokenDeployer`
  contracts/MarketFactory.sol
  contracts/interfaces/CloberMarketFactory.sol
  contracts/interfaces/CloberOrderTokenDeployer.sol
  contracts/markets/OrderTokenDeployer.sol
Due: lint-sol

fix: fix bug when create `_orderTokenBytecodeHash`
  contracts/markets/OrderTokenDeployer.sol
Due: lint-sol

docs: change ci badge link
  README.md
Due: none

feat: set polygon zkevm minanet setting in hardhat config
  hardhat.config.ts
Due: lint-ts

test: fix test for OrderTokenDeployer
  test/foundry/GasReport/OrderBookUtils.sol
  test/foundry/MarketFactory/Unit.t.sol
  test/foundry/MarketRouter/Unit.t.sol
Due: lint-sol

feat: use salt in PriceDeployer
  contracts/markets/PriceDeployer.sol
  test/foundry/MarketFactory/Unit.t.sol
Due: lint-sol

test: add check with deployedGeometricPriceBook and computeGeometricPriceBookAddress
  test/foundry/MarketFactory/Unit.t.sol
Due: lint-sol

chore: add computePriceBookAddress to interface
  contracts/interfaces/CloberPriceBookDeployer.sol
Due: lint-sol

refactor: OrderTokenDeployer => OrderNFTDeployer
  contracts/MarketFactory.sol
  contracts/interfaces/CloberOrderNFTDeployer.sol
  contracts/markets/OrderNFTDeployer.sol
  contracts/markets/PriceBookDeployer.sol
  test/foundry/GasReport/OrderBookUtils.sol
  test/foundry/MarketFactory/Unit.t.sol
  test/foundry/MarketRouter/Unit.t.sol
Due: lint-sol

refactor: delete contracts/markets dir
  contracts/ArithmeticPriceBook.sol
  contracts/GeometricPriceBook.sol
  contracts/MarketDeployer.sol
  contracts/MarketFactory.sol
  contracts/OrderNFTDeployer.sol
  contracts/PriceBookDeployer.sol
  test/foundry/ArithmeticPriceBook/Unit.t.sol
  test/foundry/GasReport/OrderBookUtils.sol
  test/foundry/GeometricPriceBook/integration/Coefficients.t.sol
  test/foundry/GeometricPriceBook/unit/R1001.t.sol
  test/foundry/GeometricPriceBook/unit/R101.t.sol
  test/foundry/MarketDeployer/Unit.t.sol
  test/foundry/MarketFactory/Unit.t.sol
  test/foundry/MarketRouter/Unit.t.sol
  test/foundry/OrderBook/integration/ArithmeticMarket/Cancel.t.sol
  test/foundry/OrderBook/integration/ArithmeticMarket/Claim.t.sol
  test/foundry/OrderBook/integration/ArithmeticMarket/LimitOrder.t.sol
  test/foundry/OrderBook/integration/ArithmeticMarket/MarketOrder.t.sol
  test/foundry/OrderBook/integration/GeometricMarket/Cancel.t.sol
  test/foundry/OrderBook/integration/GeometricMarket/Claim.t.sol
  test/foundry/OrderBook/integration/GeometricMarket/LimitOrder.t.sol
  test/foundry/OrderBook/integration/GeometricMarket/MarketOrder.t.sol
Due: lint-sol

docs: price book deployer, order nft deployer
  contracts/interfaces/CloberOrderNFTDeployer.sol
  contracts/interfaces/CloberPriceBookDeployer.sol
Due: lint-sol

fix: fix deploy scripts
  task/dev-deploy/01_market_factory.ts
  task/prod-deploy/01_market_factory.ts
Due: lint-ts

refactor: move v1 addresses
  deployments/1442/address.json
  deployments/v1.0.0/1/address.json
  deployments/v1.0.0/137/address.json
  deployments/v1.0.0/280/address.json
  deployments/v1.0.0/42161/address.json
  deployments/v1.0.0/421613/address.json
Due: none

feat(task): add get-code util task
  task/utils/network.ts
Due: lint-ts

chore: update etherscan verify module and add polyZkEVM verify config
  hardhat.config.ts
  package-lock.json
  package.json
Due: lint-ts

feat(deploy): deploy on polygonZkEVM
  deployments/1101/address.json
  hardhat.config.ts
  utils/constant.ts
  utils/markets.ts
Due: lint-ts

docs: add deployment info at README
  README.md
Due: none

Path conditions:
  lint-ts: any of: \.ts$
  lint-sol: any of: \.sol$
