Repository clober-dex/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-ts, lint-sol

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: local
  hooks:
    - id: lint-ts
      name: "lint ts"
      entry: /usr/bin/env bash -c "npm run prettier:ts"
      files: '\.ts$'
      language: script
      description: "Checks TS code according to the package's linter configuration"
    - id: lint-sol
      name: "lint solidity"
      entry: /usr/bin/env bash -c "npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks Solidity code according to the package's linter configuration"

docs: add SpearbitDAO audit Report
  audits/SpearbitDAO2023Feb.pdf
Due: none

ci: fix ci
  .github/workflows/ci.yaml
Due: none

fix(config): delete task/view
  hardhat.config.ts
Due: lint-ts

fix: remove not exist folder
  hardhat.config.ts
Due: lint-ts

docs: add audit information to README
  README.md
Due: none

docs: add contents to README
  README.md
Due: none

fix: package-lock.json
  package-lock.json
Due: none

feat: add testnet-zkEVM-mango config in hardhat
  hardhat.config.ts
  utils/constant.ts
Due: lint-ts

feat: add deployed contract addresses
  deployments/polygon_zk_mango/address.json
  utils/markets.ts
Due: lint-ts

feat: add WETH/cUSD markets
  utils/markets.ts
Due: lint-ts

feat(deploy): add zksync_goerli_dev deployments
  deployments/zksync_goerli_dev/address.json
  utils/constant.ts
  utils/markets.ts
Due: lint-ts

fix: change eth to weth
  utils/constant.ts
  utils/markets.ts
Due: lint-ts

refactor: change to chainid
  deployments/1/address.json
  deployments/137/address.json
  deployments/1422/address.json
  deployments/280/address.json
  deployments/42161/address.json
  deployments/arbitrum_goerli_dev/address.json
  deployments/goerli_dev/address.json
  deployments/polygon_dev/address.json
  hardhat.config.ts
  utils/constant.ts
  utils/markets.ts
  utils/misc.ts
Due: lint-ts

feat: use @wagma/chain
  package-lock.json
  package.json
Due: none

fix: change chain id of hardhat to 1337
  hardhat.config.ts
Due: lint-ts

fix: network name to be hardhat
  hardhat.config.ts
Due: lint-ts

chore: fix hardhat network config key
  hardhat.config.ts
Due: lint-ts

feat: add polymango v2 contracts
  deployments/1422/address.json
  hardhat.config.ts
  utils/constant.ts
  utils/markets.ts
Due: lint-ts

feat: support new polygon zkevm testnet
  deployments/1442/address.json
  hardhat.config.ts
  utils/constant.ts
  utils/markets.ts
Due: lint-ts

feat: change new deployed contract
  deployments/1442/address.json
  utils/markets.ts
Due: lint-ts

feat: add notification before use task or deploy
  hardhat.config.ts
Due: lint-ts

feat: ask before using mainnet
  hardhat.config.ts
Due: lint-ts

fix: deployed new contract for polygon zkevm testnet
  deployments/1442/address.json
Due: none

feat: new market address
  utils/markets.ts
Due: lint-ts

deploy: deploy usdc/usdt
  utils/markets.ts
Due: lint-ts

feat: add dev chain in arbitrum goeril
  deployments/421613/address.json
  hardhat.config.ts
Due: lint-ts

fix: press `Y` only once
  hardhat.config.ts
Due: lint-ts

feat: add arbitrum goeril markets
  utils/constant.ts
  utils/markets.ts
Due: lint-ts

feat: deployed arbitrum put contracts
  utils/constant.ts
  utils/markets.ts
Due: lint-ts

feat: add ARB/USDC market
  utils/markets.ts
Due: lint-ts

feat: add ARB token address
  utils/constant.ts
Due: lint-ts

feat: deployed contracts for polygon zkevm testnet
  deployments/1422/address.json
  deployments/1442/address.json
  utils/constant.ts
  utils/markets.ts
Due: lint-ts

chore: remove pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

perf: when solidity file changed
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Due: none

ci: fix name and remove lint in test.yaml
  .github/workflows/test.yaml
Due: none

ci: add test/**/*.ts
  .github/workflows/test.yaml
Due: none

ci: add ci checker
  .github/workflows/commit-checker.yaml
  .github/workflows/pr-checker.yaml
Due: none

ci: fix job name
  .github/workflows/commit-checker.yaml
  .github/workflows/pr-checker.yaml
Due: none

feat: deploy new dev contracts
  deployments/421613/address.json
  utils/markets.ts
Due: lint-ts

feat: implement getClaimable function #25
  contracts/OrderBook.sol
  contracts/interfaces/CloberOrderBook.sol
Due: lint-sol
