Repository clober-dex/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-ts, lint-sol

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: local
  hooks:
    - id: lint-ts
      name: "lint ts"
      entry: /usr/bin/env bash -c "npm run prettier:ts"
      files: '\.ts$'
      language: script
      description: "Checks TS code according to the package's linter configuration"
    - id: lint-sol
      name: "lint solidity"
      entry: /usr/bin/env bash -c "npm run lint:sol"
      files: '\.sol$'
      language: script
      description: "Checks Solidity code according to the package's linter configuration"

fix: fix polygonZkEVM WETH address
  utils/constant.ts
Due: lint-ts

feat: implement batch limit order at router
  contracts/MarketRouter.sol
  contracts/interfaces/CloberRouter.sol
Due: lint-sol

feat: add ethToRemain at Router's callback data
  contracts/MarketRouter.sol
Due: lint-sol

test: fix and add tests for Router's batch limit order feat
  test/foundry/MarketRouter/Unit.t.sol
Due: lint-sol

docs: GeneralLimitOrderParams, limitOrder
  contracts/interfaces/CloberRouter.sol
Due: lint-sol

chore: change var/modifier name
  contracts/MarketRouter.sol
Due: lint-sol

docs: make compilable
  contracts/interfaces/CloberRouter.sol
Due: lint-sol

feat: fix market name and add initial quote at arbitrum
  utils/constant.ts
  utils/markets.ts
Due: lint-ts

feat(deploy): deploy v1.1 on arbitrum and polygon
  deployments/137/address.json
  deployments/42161/address.json
Due: none

feat(deploy): deploy markets on arbitrum and polygon
  utils/constant.ts
  utils/markets.ts
Due: lint-ts

docs: update docs
  README.md
Due: none

feat: v1.1 dev contract for arbitrum goeril
  deployments/421613/address.json
  utils/markets.ts
Due: lint-ts

fix: set r to 1.01
  utils/markets.ts
Due: lint-ts

fix: fix market type
  utils/constant.ts
Due: lint-ts

feat: add stMATIC/MATIC, DAI/USDC market config on polygonZkEvm
  utils/constant.ts
  utils/markets.ts
Due: lint-ts

feat: add new markets
  utils/markets.ts
Due: lint-ts

feat: 0vix markets
  utils/constant.ts
  utils/markets.ts
Due: lint-ts

fix: quote unit for 0vix markets
  utils/markets.ts
Due: lint-ts

feat: update market contract addresses
  utils/markets.ts
Due: lint-ts

feat: add priceBook() at CloberOrderBook.sol
  contracts/interfaces/CloberOrderBook.sol
Due: lint-sol

feat(deploy): deploy on arbitrum goerli
  deployments/421613/address.json
Due: none

feat: deploy on skale testnet
  deployments/476158412/address.json
  hardhat.config.ts
  package-lock.json
Due: lint-ts

docs: update license file
  LICENSE.pdf
Due: none
